{% extends 'base.html' %}

{% block title %}
    فراموشی رمز عبور
{% endblock %}

<body>

{% block content %}
    <section class="login first grey">
        <div class="container">
            <div class="box-wrapper">
                <div class="box box-border">
                    <div class="box-body">
                        <h4 class="text-dark text-center text-xlarge mb-5">بازیابی رمز عبور</h4>
                        {% for message in messages %}
                            {% if message %}
                                <div class="alert alert-danger text-right">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form }}
                            </div>
                            <div class=" form-group text-right">
                                <button class="btn btn-primary btn-block text-center" type="submit">تایید و ارسال
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

</body>