{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="block">
                <h1 class="block-title">درباره ما</h1>
                <div class="block-body">
                    <figure class="foot-logo">
                        <img src="{% static 'images/logo-light.png' %}" class="img-responsive" alt="Logo">
                    </figure>
                    <p class="brand-description">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ...
                    </p>
                    <a href="about.html" class="btn btn-magz white">صفحه درباره ما <i
                            class="ion-ios-arrow-thin-left"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="block">
                <h1 class="block-title">برترین برچسب ها
                    <div class="left"><a href="#">مشاهده همه <i
                            class="ion-ios-arrow-thin-left"></i></a></div>
                </h1>
                <div class="block-body">
                    <ul class="tags">
                        <li><a href="#">کرونا</a></li>
                        <li><a href="#">قیمت ارز</a></li>
                        <li><a href="#">دربی پایتخت</a></li>
                        <li><a href="#">واژگونی اتوبوس</a></li>
                        <li><a href="#">برجام</a></li>
                        <li><a href="#">قیمت سکه</a></li>
                        <li><a href="#">گوشی سامسونگ</a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="block">
                <h1 class="block-title">خبرنامه</h1>
                <div class="block-body">
                    <p>برای دریافت آخرین اخبار ایمیل خود را وارد کنید</p>
                    <form class="newsletter">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="ion-ios-email-outline"></i>
                            </div>
                            <input type="email" class="form-control email" placeholder="ایمیل شما">
                        </div>
                        <button class="btn btn-primary btn-block white">ثبت ایمیل</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="block">
                <h1 class="block-title">آخرین خبر ها</h1>
                <div class="block-body">
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single-post.html">
                                    <img src="{% static 'images/news/img12.jpg' %}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                </h1>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single-post.html">
                                    <img src="{% static 'images/news/img14.jpg' %}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                </h1>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single-post.html">
                                    <img src="{% static 'images/news/img15.jpg' %}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                </a>
                                </h1>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single-post.html">
                                    <img src="{% static 'images/news/img16.jpg' %}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                </a>
                                </h1>
                            </div>
                        </div>
                    </article>
                    <a href="#" class="btn btn-magz white btn-block text-center">مشاهده همه <i
                            class="ion-ios-arrow-thin-left"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6">
            <div class="block">
                <h1 class="block-title">دنبال کردن</h1>
                <div class="block-body">
                    <p>ما را در شبکه های اجتماعی دنبال کنید</p>
                    <ul class="social trp">
                        <li>
                            <a href="#" class="facebook">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-twitter-outline"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="youtube">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-youtube-outline"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="googleplus">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-instagram-outline"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tumblr">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-tumblr"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dribbble">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="linkedin">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="skype">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-skype"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="rss">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-rss"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="block">
                <div class="block-body no-margin">
                    <ul class="footer-nav-horizontal">
                        <li><a href="index.html">خانه</a></li>
                        <li><a href="contact.html">تماس با ما</a></li>
                        <li><a href="about.html">در باره ما</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                COPYRIGHT &copy; MAGZ 2020. تمام حقوق محفوظ است.
            </div>
        </div>
    </div>
</div>