{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.migrate.js' %}"></script>
<script src="{% static 'scripts/bootstrap/bootstrap.min.js' %}"></script>
<script>
    var $target_end = $(".best-of-the-week");
</script>
<script src="{% static 'scripts/jquery-number/jquery.number.min.js' %}"></script>
<script src="{% static 'scripts/owlcarousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'scripts/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'scripts/easescroll/jquery.easeScroll.js' %}"></script>
<script src="{% static 'scripts/sweetalert/dist/sweetalert.min.js' %}"></script>
<script src="{% static 'scripts/toast/jquery.toast.min.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
<script src="{% static 'js/e-magz.js' %}"></script>