{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="قالب خبری Magz">
<meta name="author" content="Kodinger">
<meta name="keyword" content="قالب خبری، قالب اچ تی ام ال، قالب خبری مگز">
<!-- Shareable -->
<meta property="og:title" content="قالب خبری Magz"/>
<meta property="og:type" content="article"/>
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'scripts/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css' %}">
<!-- Icons -->
<link rel="stylesheet" href="{% static 'scripts/ionicons/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'scripts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'scripts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!-- Toast -->
<link rel="stylesheet" href="{% static 'scripts/toast/jquery.toast.min.css' %}">
<!-- OwlCarousel -->
<link rel="stylesheet" href="{% static 'scripts/owlcarousel/dist/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'scripts/owlcarousel/dist/assets/owl.theme.default.min.css' %}">
<!-- Magnific Popup -->
<link rel="stylesheet" href="{% static 'scripts/magnific-popup/dist/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'scripts/sweetalert/dist/sweetalert.css' %}">
<!-- Custom style -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/skins/all.css' %}">
<link rel="stylesheet" href="{% static 'css/demo.css' %}">