{% load static %}
{% load converter %}

<div class="firstbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="brand">
                    <a href="{% url 'blog:home' %}">
                        <img src="{% static 'images/logo.png' %}" alt="Magz Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <form class="search" autocomplete="off" method="GET" action="{% url 'blog:search' %}">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control"
                                   placeholder="جستجوی عبارت مورد نظر ...">
                            <div class="input-group-btn">
                                <button class="btn btn-primary">
                                    <a class="ion-search text-white" href="search.html"></a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="help-block mt-2">
                        <div>محبوب ترین ها :</div>
                        <ul>
                            <li><a href="#">کرونا</a></li>
                            <li><a href="#">قیمت ارز</a></li>
                            <li><a href="#">فوتبال</a></li>
                            <li><a href="#">آلودگی هوا</a></li>
                            <li><a href="#">برجام</a></li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 text-right">
                <ul class="nav-icons">
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'edit_profile' %}">
                        {% if request.user.profile_photo %}
                        {% if request.user.profile_photo.url == '/media/None.png' %}
                        <img src="{% static 'images/None.png' %}" alt="{{ request.user.get_full_name }}"
                             style="border-radius: 100%;width: 40px;height: 40px;margin-bottom: 15px;margin-left: 10px;">
                        {% else %}
                        <img src="{{ request.user.profile_photo.url }}"
                             alt="{{ request.user.get_full_name }}"
                             style="border-radius: 100%;width: 40px;height: 40px;margin-bottom: 15px;margin-left: 10px;">
                        {% endif %}
                        {% else %}
                        <img src="{% static 'images/None.png' %}"
                             alt="{{ request.user.get_full_name }}"
                             style="border-radius: 100%;width: 40px;height: 40px;margin-bottom: 10px;margin-left: 10px;">
                        {% endif %}
                        <div class="mt-1">
                            {% if request.user.get_full_name %}
                            {{ request.user.get_full_name }}
                            {% else %}
                            خوش آمدید.
                            {% endif %}
                        </div>
                    </a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}"><i class="ion-person-add"></i>
                        <div>ثبت نام</div>
                    </a></li>
                    <li><a href="{% url 'login' %}"><i class="ion-person"></i>
                        <div>ورود</div>
                    </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Start nav -->
<nav class="menu">
    <div class="container">
        <div class="brand">
            <a href="#">
                <img src="{% static 'images/logo.png' %}" alt="Magz Logo">
            </a>
        </div>
        <div class="mobile-toggle">
            <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
        </div>
        <div class="mobile-toggle">
            <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
        </div>

        <div id="menu-list">
            <ul class="nav-list">
                <li class="for-tablet nav-title"><a>فهرست</a></li>
                <li><a href="{% url 'blog:home' %}">خانه</a></li>
                <li class="for-tablet"><a href="{% url 'login' %}">ورود</a></li>
                <li class="for-tablet"><a href="{% url 'register' %}">ثبت نام</a></li>
                <li class="dropdown magz-dropdown"><a href="#">منوی کاربری <i
                        class="ion-ios-arrow-left"></i></a>
                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'edit_profile' %}"><i class="icon fa fa-user"></i> پنل کاربری</a>
                        </li>
                        <li><a href="#"><i class="icon fa fa-heart"></i> علاقه مندی ها</a></li>
                        <li><a href="#"><i class="icon fa fa-comment"></i> نظرات</a></li>
                        <li><a href="{% url 'change_pass' %}"><i class="icon fa fa-key"></i> تغییر رمز عبور</a></li>
                        <li><a href="#"><i class="icon fa fa-gears"></i> تنظیمات</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}?next={{ request.path }}"><i
                                class="icon ion-log-out mt-0"></i> خروج
                            از
                            حساب کاربری</a></li>
                        {% else %}
                        <li><a href="{% url 'register' %}"><i class="icon ion-person-add"></i>ثبت نام</a></li>
                        <li><a href="{% url 'login' %}"><i class="icon ion-person"></i>ورود</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% for category in categories %}
                <li class="extra-margin">
                    <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!-- End nav -->