{% extends 'base.html' %}
{% load static %}
{% load converter %}

{% block title %}{{ articles.title }}{% endblock %}

{% block content %}
<section class="single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 sidebar">
                {% include 'includes/sidebar.html' %}
            </div>
            <div class="col-md-12 col-lg-8 float-right">
                <ol class="breadcrumb">
                    <li><a href="{% url 'blog:home' %}">خانه</a></li>
                    <li><a style="color: #F73F52">بلاگ</a></li>
                    <li class="active">{{ articles.title }}</li>
                </ol>
                <article class="article main-article mt-5">
                    <header>
                        <h3 class="pt-0">{{ articles.title }}</h3>
                        <ul class="details">
                            <li>{{ articles.jalali_date|translate_numbers }}</li>
                            <li>
                                {% for category in articles.category.all %}
                                {% if category.status %}
                                <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                                {% endif %}
                                {% endfor %}
                            </li>
                            <li>نویسنده : <a>{{ articles.author.get_full_name }}</a></li>
                            <li><a>{{ articles.hits.all.count|translate_numbers }} بازدید</a></li>
                            <li><a>{{ articles.likes.all.count|translate_numbers }} پسند</a></li>
                            <li><a>{{ articles.comments.all.count|translate_numbers }} نظر</a></li>
                        </ul>
                    </header>
                    <div class="main">
                        <p>
                            <img src="{{ articles.image.url }}"
                                 style="height:375px; width:745px">
                        </p>
                        {{ articles.description|safe }}
                    </div>
                    <footer>
                        <div class="col d-inline-block pr-0">
                            <ul class="tags">
                                <li><a href="#">قیمت سکه</a></li>
                                <li><a href="#">قیمت ارز</a></li>
                                <li><a href="#">تورم</a></li>
                                <li><a href="#">نرخ رشد قیمت سکه</a></li>
                                <li><a href="#">نوسان ارز</a></li>
                                <li><a href="#">سقوط قیمت دلار</a></li>
                            </ul>
                        </div>
                        {% if is_liked %}
                        <div class="col d-inline-block">
                            <a onclick="like('{{ articles.id }}')" class="love active" id="like">
                                <i class="ion-android-favorite" id="like-out"></i>
                                <div>{{ articles.likes.all.count }}</div>
                            </a>
                        </div>
                        {% else %}
                        <div class="col d-inline-block">
                            <a onclick="like('{{ articles.id }}')" class="love" id="like">
                                <i class="ion-android-favorite-outline" id="like-out"></i>
                                <div>{{ articles.likes.all.count }}</div>
                            </a>
                        </div>
                        {% endif %}
                    </footer>
                </article>

                <div class="sharing">
                    <div class="title"><i class="ion-android-share-alt"></i> به اشتراک گذاری این خبر</div>
                    <ul class="social">
                        <li>
                            <a href="#" class="facebook">
                                <i class="ion-social-facebook"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <i class="ion-social-twitter"></i> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="#" class="googleplus">
                                <i class="ion-social-googleplus"></i> Google+
                            </a>
                        </li>
                        <li>
                            <a href="#" class="linkedin">
                                <i class="ion-social-linkedin"></i> Linkedin
                            </a>
                        </li>
                        <li>
                            <a href="#" class="skype">
                                <i class="ion-ios-email-outline"></i> Email
                            </a>
                        </li>
                        <li class="count">
                            ۲۰
                            <div>اشتراک گذاری</div>
                        </li>
                    </ul>
                </div>

                <div class="line">
                    <div>مطالب مرتبط</div>
                </div>

                <div class="row">
                    <article class="article related col-md-6 col-sm-6 col-xs-12">
                        <div class="inner">
                            <figure>
                                <a href="#">
                                    <img src="{% static 'images/news/img03.jpg' %}">
                                </a>
                            </figure>
                            <div class="padding">
                                <h2><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h2>
                                <div class="detail text-right mt-4">
                                    <div class="category"><a href="category.html">اقتصادی</a></div>
                                    <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article related col-md-6 col-sm-6 col-xs-12">
                        <div class="inner">
                            <figure>
                                <a href="#">
                                    <img src="{% static 'images/news/img08.jpg' %}">
                                </a>
                            </figure>
                            <div class="padding">
                                <h2><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h2>
                                <div class="detail text-right mt-4">
                                    <div class="category"><a href="category.html">اقتصادی</a></div>
                                    <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- بخش نظرات و فرم ارسال دیدگاه -->
                <div class="comments my-5">
                    <h2 class="title" id="comments">نظرات <a href="#comments">یک دیدگاه جدید ارسال کنید.</a></h2>
                    <div class="comment-list">
                        {% for comment in articles.comments.all %}
                            {% if comment.parent == None %}
                                <div class="item">
                                    <div class="user">
                                        <figure>
                                            {% if comment.author.profile_photo %}
                                                {% if comment.author.profile_photo.url == '/media/None.png' %}
                                                    <img src="{% static 'images/None.png' %}"
                                                         alt="{{ comment.author.get_full_name }}"
                                                         style="border-radius: 100%;width: 50%;height: 50%;margin-bottom: 10px;margin-left: 10px;">
                                                {% else %}
                                                    <img src="{{ comment.author.profile_photo.url }}"
                                                         alt="{{ comment.author.get_full_name }}"
                                                         style="border-radius: 100%;width: 50%;height: 50%;margin-bottom: 10px;margin-left: 10px;">
                                                {% endif %}
                                            {% else %}
                                                <img src="{% static 'images/None.png' %}"
                                                     alt="{{ comment.author.get_full_name }}"
                                                     style="border-radius: 100%;width: 50%;height: 50%;margin-bottom: 10px;margin-left: 10px;">
                                            {% endif %}                                        
                                        </figure>
                                        <div class="details">
                                            <h5 class="name">{{ comment.author.username }}</h5>
                                            <div class="time">{{ comment.jalali_date }}</div>
                                            <div class="description">{{ comment.text }}</div>
                                            <footer>
                                                <a onclick="set_value( {{ comment.id }} )" href="#didgah">پاسخ</a>
                                            </footer>
                                        </div>
                                    </div>

                                        {% for reply in comment.replies.all %}
                                            <div class="reply-list">                 
                                                <div class="item">
                                                    <div class="user">
                                                        <figure>
                                                            {% if reply.author.profile_photo %}
                                                                {% if reply.author.profile_photo.url == '/media/None.png' %}
                                                                    <img src="{% static 'images/None.png' %}"
                                                                            alt="{{ reply.author.get_full_name }}"
                                                                            style="border-radius: 100%;width: 50%;height: 50%;margin-bottom: 10px;margin-left: 10px;">
                                                                {% else %}
                                                                    <img src="{{ reply.author.profile_photo.url }}"
                                                                            alt="{{ reply.author.get_full_name }}"
                                                                            style="border-radius: 100%;width: 50%;height: 50%;margin-bottom: 10px;margin-left: 10px;">
                                                                {% endif %}
                                                            {% else %}
                                                                <img src="{% static 'images/None.png' %}"
                                                                        alt="{{ reply.author.get_full_name }}"
                                                                        style="border-radius: 100%;width: 50%;height: 50%;margin-bottom: 10px;margin-left: 10px;">
                                                            {% endif %}                                        
                                                        </figure>
                                                        <div class="details">
                                                            <h5 class="name">{{ reply.author.username }}</h5>
                                                            <div class="time">{{ reply.jalali_date }}</div>
                                                            <div class="description">{{ reply.text }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                </div>      
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- فرم ارسال دیدگاه -->
                     {% if request.user.is_authenticated %}
                        <form class="row" method="post">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <h3 class="title" id="didgah">ارسال دیدگاه جدید</h3>
                            </div>
                            <div class="form-group col-md-12">{{ form.parent_id }}</div>
                            <div class="form-group col-md-12">
                                <label for="message" id="didgah-label">دیدگاه <span class="required"></span> :</label>
                                {{ form.text }}
                            </div>
                            <div class="form-group col-md-12">
                                <button class="btn btn-primary float-right">ارسال دیدگاه</button>
                            </div>
                        </form>
                    {% else %}
                    <h2 class="title" id="comments">برای ارسال دیدگاه <a style="font-size: larger;" href="{% url 'login' %}">وارد</a> شوید</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function set_value(id){
        document.getElementById('parent_id').value = id
        document.getElementById('didgah').innerHTML = 'ارسال پاسخ جدید'
        document.getElementById('didgah-body').placeholder = 'پاسخ خود را برای دیدگاه انتخاب شده بنویسید'
    }
</script>

{% endblock %}