{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load converter %}

{% block title %}ویرایش پروفایل{% endblock %}

{% block content %}
    <section class="login first grey">
        <div class="container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row gutters">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="account-settings">
                                    <div class="user-profile">
                                        <div class="user-avatar">
                                            {% if request.user.profile_photo %}
                                                {% if request.user.profile_photo.url == '/media/None.png' %}
                                                    <img src="{% static 'images/None.png' %}"
                                                         alt="{{ request.user.get_full_name }}"
                                                         style="border-radius: 100%;width: 50%;height: 50%;margin-bottom: 10px;margin-left: 10px;">
                                                {% else %}
                                                    <img src="{{ request.user.profile_photo.url }}"
                                                         alt="{{ request.user.get_full_name }}"
                                                         style="border-radius: 100%;width: 50%;height: 50%;margin-bottom: 10px;margin-left: 10px;">
                                                {% endif %}
                                            {% else %}
                                                <img src="{% static 'images/None.png' %}"
                                                     alt="{{ request.user.get_full_name }}"
                                                     style="border-radius: 100%;width: 50%;height: 50%;margin-bottom: 10px;margin-left: 10px;">
                                            {% endif %}
                                        </div>
                                        <div style="font-size: 10px">{{ form.profile_photo }}</div>
                                        <br>
                                        <h5 class="user-name text text-center"
                                            style="font-size: 14px">{{ user }}</h5>
                                        <h6 class="user-email text text-center">{{ request.user.phone_number|translate_numbers }}</h6>
                                    </div>
                                    <div class="about">
                                        <h5>درباره</h5>
                                        {{ form.about_me|add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-2 title-form" style="font-size: 15px">اطلاعات شخصی</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="fullName">نام</label>
                                            {{ form.first_name|add_class:"form-control" }}
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="fullName">نام خانوادگی</label>
                                            {{ form.last_name|add_class:"form-control" }}
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="fullName">نام کاربری</label>
                                            {{ form.username|add_class:"form-control" }}
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="eMail">ایمیل</label>
                                            {{ form.email|add_class:"form-control" }}
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="phone">شماره موبایل</label>
                                            {{ form.phone_number|add_class:"form-control"|attr:"readonly:readonly" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">

                                            <button type="button" id="submit" name="submit"
                                                    class="btn btn-secondary"
                                                    style="border-radius: 2.5px"><a href="{% url 'blog:home' %}"
                                                                                    style="color: white;text-decoration: None">لغو</a>
                                            </button>
                                            <button type="submit" id="submit" name="submit" class="btn btn-primary"
                                                    style="border-radius: 2.5px">
                                                بروزرسانی
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <style type="text/css">
        body {
            margin: 0;
            padding-top: 40px;
            color: #F73F52;
            background: #f5f6fa;
            position: relative;
            height: 100%;
            direction: rtl;
        }

        .account-settings .user-profile {
            margin: 0 0 1rem 0;
            padding-bottom: 1rem;
            text-align: center;
        }

        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }

        .account-settings .user-profile .user-avatar img {
            width: 90px;
            height: 90px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }

        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }

        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }

        .account-settings .about {
            margin: 2rem 0 0 0;
            text-align: center;
        }

        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #F73F52;
        }

        .account-settings .about p {
            font-size: 0.825rem;
        }

        .form-control {
            border: 1px solid #cfd1d8;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            font-size: .825rem;
            background: #ffffff;
            color: #2e323c;
        }

        .card {
            background: #ffffff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 0;
            margin-bottom: 1rem;
        }

    </style>
{% endblock %}