{% extends 'base.html' %}

{% block title %}ثبت نام{% endblock %}
{% block extrastyle %}
    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>
{% endblock %}

<body>

{% block content %}
    <section class="login first grey">
        <div class="container">
            <div class="box-wrapper">
                <div class="box box-border">
                    <div class="box-body">
                        <h4 class="text-dark text-center text-xlarge mb-5">ثبت نام</h4>
                        {% for message in messages %}
                            {% if messages %}
                                <div class="alert alert-danger text-right">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger text-right">{{ error }}</div>
                            {% endif %}
                        {% endfor %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>{{ form.phone_number.label }}</label>
                                {{ form.phone_number }}
                            </div>
                            <br>
                            <div class="form-group">
                                <label>{{ form.password1.label }}</label>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                <label>{{ form.password2.label }}</label>
                                {{ form.password2 }}
                            </div>
                            <div class="form-group">
                                {% for error in form.captcha.errors %}
                                    {% if form.captcha.errors %}
                                        <h4 class="alert alert-warning">{{ error }}</h4>
                                    {% endif %}
                                {% endfor %}
                                {{ form.captcha }}
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-primary btn-block text-center">ارسال کد تایید</button>
                            </div>
                            <div class="form-group text-center">
                                <span class="text-muted">قبلا ثبت نام کرده اید؟</span> <a href="{% url 'login' %}"
                                                                                          class="text-primary">ورود</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

</body>
